@using System.Security.Claims;
@model List<Basket>;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/basket.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="basket-page">
        <nav>
            <div class="logo">
                <img class="logo-image-1" src="/img/logo1.png" alt="">
                <a href="/layihe.html"><h1>SkyLux</h1></a>
            </div>
            <div class="bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="ul-responsive">
                <li><i class="fa-solid fa-clock"></i><p class="hours">15:07</p></li>
                <li><i class="fa-solid fa-cloud"></i><p class="weather"><span></span>°C</p></li>
                <li><a href="/Home/Index/#position">Position</a></li>
                <li><a href="/Home/Index/#services">Services</a></li>
                <li><a href="/Home/Index/#news">News</a></li>
                <li><a href="/Home/Index/#about">About</a></li>
                <li><a href="/Home/Index/#contact">Contact</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.FindFirst(ClaimTypes.NameIdentifier).Value == "Şəbnəm")
                    {
                        <li><a href="/Admin/AdminPanel">Admin</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Basket">@User.FindFirst(ClaimTypes.NameIdentifier).Value</a></li>
                    }
                    <li><a href="/Home/Ticket">Ticket</a></li>
                    <li class="lang">EN</li>
                    <li><a href="/User/SignOut" class="bracket"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                }
                else
                {

                    <li><a href="/User/Login"><i class="fa-solid fa-user"></i></a></li>
                }

            </ul>

            <div class="setting">
                <h3>Language</h3>
                <hr>
                <div class="language">
                    <div class="language1">
                        <p>Azerbaijan</p>
                        <img src="/img/download.png" alt="">
                    </div>
                    <div class="language1">
                        <p>English</p>
                        <img src="/img/download.jpeg" alt="">
                    </div>
                </div>
            </div>
        </nav>

        <div class="nav-responsive">
            <ul>
                <li><i class="fa-solid fa-clock"></i><p class="hours">15:07</p></li>
                <li><i class="fa-solid fa-cloud"></i><p class="weather"><span></span>°C</p></li>
                <li><a href="/Home/Index/#position">Position</a></li>
                <li><a href="/Home/Index/#services">Services</a></li>
                <li><a href="/Home/Index/#news">News</a></li>
                <li><a href="/Home/Index/#about">About</a></li>
                <li><a href="/Home/Index/#contact">Contact</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.FindFirst(ClaimTypes.NameIdentifier).Value == "Şəbnəm")
                    {
                        <li><a href="/Admin/AdminPanel">Admin</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Basket">@User.FindFirst(ClaimTypes.NameIdentifier).Value</a></li>
                    }
                    <li><a href="/Home/Ticket">Ticket</a></li>
                    <li><a href="/User/SignOut" class="bracket"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                }
                else
                {

                    <li><a href="/User/Login"><i class="fa-solid fa-user"></i></a></li>
                }
                <li class="lang">EN</li>

            </ul>
        </div>


        </nav>
        <div class="basket">
            <div class="basket-top">
                @{
                    float? sum = 0;
                }
                @foreach(var item in Model)
                {
                     sum += item.BasketTicket.TicketPrice;
                    <div class="ticket">
                    <div class="ticket1">
                        <h1>@item.BasketTicket.TicketDepartureTime</h1>
                        <p>@item.BasketTicket.TicketFrom</p>
                            <span>@Convert.ToDateTime(item.BasketTicket.TicketDepartureDate).ToString("dd.MM.yyyy")</span>
                    </div>
                    <div class="ticket2">
                        <div class="plane">
                            <i class="fa-solid fa-plane-departure"></i>
                            <div class="circle"></div>
                        </div>
                        <div class="plane1">
                            <div class="time">1h 55m</div>
                            <div class="line"></div>
                        </div>
                        <div class="plane">
                            <i class="fa-solid fa-plane-arrival"></i>
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="ticket1">
                            <h1>@item.BasketTicket.TicketArrivalTime</h1>
                            <p>@item.BasketTicket.TicketTo</p>
                            <span>
                                @Convert.ToDateTime(item.BasketTicket.TicketArrivalDate).ToString("dd.MM.yyyy")</span>
                    </div>
                    <div class="ticket4">
                            <a href="/Home/Basket">$@item.BasketTicket.TicketPrice</a>
                        <p><i class="fa-solid fa-user"></i> 1 Passenger</p>
                        <p>Econom</p>
                    </div>
                        <a href="/Home/BasketRemove/@item.BasketId" class="remove-class">Remove</a>
                </div>
                }
            </div>
            <div class="confirmation">
                <div class="price">Price:$@(sum)</div>
                <a href="/Home/Index#contact" class="information">Flight information</a>
                <a href="/Home/Payment" class="confirm">Confirm</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        $(".lang").click(function () {
            $(".setting").fadeToggle()
        })
        $(".lang").click(function () {
            $(".nav-responsive").hide()
        })
        $("header").click(function () {
            $(".setting").hide()
        })

    </script>
    <script src="~/js/site.js"></script>
</body>
</html>
