@model Ticket

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <title>Document</title>
</head>
<body>

<header class="header2">
    <div class="items">
        <div class="item">
            <div class="between">
                    <div class="logo1">
                        <img class="logo-image-1" src="/img/logo1.png" alt="">
                        <a href="/Home/Index"><h1>SkyLux</h1></a>
                    </div>
                    <a href="/Admin/UserPanel"><i class="fa-solid fa-user"></i><span> User</span></a>
                    <a href="/Admin/NewsPanel"><i class="fa-regular fa-newspaper"></i><span> News</span></a>
                    <a href="/Admin/AdminPanel"><i class="fa-solid fa-clipboard-list"></i><span> Tickets</span></a>
                    <a href="/Admin/Contact"><i class="fa-solid fa-phone"></i><span> Contact</span></a>
                    <a href="/Admin/Basket"><i class="fa-solid fa-credit-card"></i><span> Basket</span></a>
            </div>
                <a href="/Home/Index" class="bracket"><i class="fa-solid fa-arrow-right-from-bracket"></i> Exit</a>
        </div>
        <div class="item1">
            <h2>New Ticket</h2>
            <div class="Center">
                    <form asp-action="Edit" asp-controller="Admin" method="post">
                <div class="center1">
                    <div class="input">
                        <label><i class="fa-regular fa-calendar"></i> DepartureDate</label>
                                <input type="text" placeholder="DepartureDate" asp-for="TicketDepartureDate" value="@Model.TicketDepartureDate">
                    </div>
                    <div class="input">
                        <label><i class="fa-solid fa-plane-departure"></i> From</label>
                                <input type="text" placeholder="From" asp-for="TicketFrom" value="@Model.TicketFrom">
                    </div>
                    <div class="input">
                        <label><i class="fa-regular fa-clock"></i> DepartureTime</label>
                                <input type="text" placeholder="DepartureTime" asp-for="TicketDepartureTime" value="@Model.TicketDepartureTime">
                    </div>
                    <div class="input">
                        <label><i class="fa-regular fa-clock"></i> ArrivalTime</label>
                                <input type="text" placeholder="ArrivalTime" asp-for="TicketArrivalTime" value="@Model.TicketArrivalTime">
                    </div>
                    <div class="input">
                        <label><i class="fa-solid fa-plane-arrival"></i> To</label>
                                <input type="text" placeholder="To" asp-for="TicketTo" value="@Model.TicketTo">
                    </div>
                </div>
                <div class="center2">
                    <div class="input">
                        <label><i class="fa-regular fa-calendar"></i> ArrivalDate</label>
                                <input type="text" placeholder="ArrivalDate" asp-for="TicketArrivalDate" value="@Model.TicketArrivalDate">
                    </div>
                    <div class="input">
                        <label><i class="fa-regular fa-clock"></i> Hour</label>
                                <input type="text" placeholder="Hour" asp-for="TicketHour" value="@Model.TicketHour">
                    </div>
                    <div class="input">
                        <label><i class="fa-solid fa-money-bill"></i> Economy</label>
                                <select asp-for="TicketEconomyId" asp-items="ViewBag.Economy">
                                    <option value="">All</option>
                                </select>
                    </div>
                    <div class="input">
                        <label><i class="fa-solid fa-money-bill"></i> Price</label>
                                <input type="text" placeholder="Price" asp-for="TicketPrice" value="@Model.TicketPrice">
                    </div>
                    <button>Add</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</header>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>